.container_accueil,
.accueil_algo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
  
  .title_algo {
    width: 647px;
    height: 235px;
    margin-top: 25px;
  }

  .title_algo,
  .saison {
    box-shadow: 5px 5px 5px 0px #353534;
  }

  .algo_saison {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 10px 35px;
    
  }

    .saison,
    .title_homepage {
      width: 250px;
      height: 150px;
    }
    
    .saison {
      margin: 15px 10px;
      z-index: 1;
    }

      .saison > a {
        display: block;
        margin: 0px;
      }

/* Intitulés des Saisons et de leurs Thèmes */
        .title_homepage {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
        }

          .title_homepage > h1, 
          .title_homepage > h3 {
            width: 230px;
            text-align: center;
            font-weight: bolder;
            text-shadow: 2px 2px 3px #66B034;
            margin: 0px;
          }

          .title_homepage > h1 {
            font-size: 30px;
          }

          .title_homepage:hover > h1 {
            font-size: 35px;
          }

          .title_homepage > h3 {
            font-size: 20px;
          }

          .title_homepage:hover > h3 {
            font-size: 25px;
          }

/* BACKGROUNDS REPRESENTANT CHAQUE SAISON */
    .saison_1 {
      background-image: url("../img/scientific_formulas1_shadow_250x150.png");
    }

    .saison_2 {
      background-image: url("../img/keyboard4_shadow_250x150.png");
    }

    .saison_3 {
      background-image: url("../img/data1_shadow_250x150.png");
    }

    .saison_4 {
      background-image: url("../img/coding5_shadow_250x150.png");
    }

    .saison_5 {
      background-image: url("../img/wormhole_numerical2_shadow_250x150.png");
    }

    .saison_6 {
      background-image: url("../img/scientific_formulas2_shadow_250x150.png");
    }

    .saison_7 {
      background-image: url("../img/scientific_reflection_shadow_250x150.png");
    }

    .saison_8 {
      background-image: url("../img/data4_shadow_250x150.png");
    }

    .saison_9 {
      background-image: url("../img/coding6_shadow_250x150.png");
    }

    .saison_10 {
      background-image: url("../img/data5_shadow_250x150.png");
    }

/* ANIMATION GIF DE BAS DE PAGE */
.img_afpalab_green {
  margin-bottom: 20px;
}
