/* BACKGROUNDS REPRESENTANT CHAQUE SAISON 
   Ici pour la saison 1, et le background des saisons suivantes est dans leur fichier CSS respectif dans le dossier "exos_saisons" */

section {
  background-image: url("../img/scientific_formulas1_shadow_1390x672.png");
}

/* ELEMENTS DE LA PAGE D'EXERCICE COMMUNES POUR TOUTES LES SAISONS */

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.container_exercises {
  align-self: stretch;
  color: #4c4747;
  background-color: white;
  border: 1px solid #66b034;
  box-shadow: 1px 1px 1px #66b034;
  margin: 0px 30px 35px;
}

span {
  font-weight: bolder;
}

/* LES TITRES */

/* Titre des saisons */

h1 {
  font-size: 35px;
  text-shadow: 1px 1px 2px #66b034;
  padding-top: 30px;
  margin: 0px 50px;
}

/* La class .title_javascript n'est valable que pour la saison 2 où on fait uniquement du JavaScript */

.num_exercise,
.title_answer,
.title_pseudo_code,
.title_traduction,
.title_formulary {
  font-size: 25px;
  font-weight: bolder;
  margin: 35px 50px 23px;
}

.num_exercise {
  text-transform: uppercase;
}

/* Enoncé des exercices */

.exercise > h3 {
  margin: 20px 75px 10px;
}

/* CONTENU DE LA ZONE DES EXERCICES RENDUS ET DU CODAGE DANS LES ENONCES */

#answer_js_s3,
#answer_js {
  display: block;
}

#answer_jqr_s3,
#answer_jqr,
#answer_php {
  display: none;
}

.exercise > p,
.answer_style > p,
code,
.answer_writed,
.answer_precision,
.nbr_value_input_formulary,
.first_input_formulary,
.second_input_formulary,
.third_input_formulary,
.fourth_input_formulary,
#arrays_created,
#answer_formulary,
#answer_formulary_with_label,
#answer_formulary_medium,
#answer_formulary_with_two_label,
#answer_formulary_arrays {
  padding: 15px 30px;
  border: 1px solid #66b034;
  box-shadow: 1px 1px 1px #66b034;
}

.exercise > p,
.answer_style > p,
.answer_writed,
.answer_precision {
  font-size: 17px;
}

pre {
  font-size: 15px;
}

.exercise > p,
.answer_style > p,
pre,
.answer_writed,
.answer_precision,
.choice_nbr_value,
.formulary,
#answer_formulary_arrays {
  margin: 0px 100px;
}

.answer_precision {
  margin-bottom: 30px;
}

.precision {
  font-weight: bolder;
  text-decoration: underline;
  color: red;
}

.choice_nbr_value {
  margin-bottom: 30px;
}

.instructing_create_arrays,
#choice_nbr_random_create_input,
.title_create_array,
#arrays_created {
  min-width: 378px;
  font-size: 19px;
  margin-bottom: 5px;
}

.title_create_array {
  margin-top: -7px;
}

#choice_nbr_random_create_input {
  display: none;
}

.formulary,
.create_arrays {
  display: flex;
  justify-content: space-between;
}

.create_arrays {
  flex-wrap: wrap;
}

#input_formulary,
#formulary_create_input,
#formulary_answer_create_input,
.array,
#input_nbr_value,
#input_nbr_value_array_1,
#input_nbr_value_array_2,
.buttons_arrays {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

#formulary_create_input {
  display: none;
}

.label_input,
.nbr_value_input_formulary,
.first_input_formulary,
.second_input_formulary,
.third_input_formulary,
.fourth_input_formulary {
  width: 336px;
  min-width: 336px;
  margin-bottom: 5px;
}

.nbr_value_input_formulary,
.array {
  margin-right: 10px;
}

#arrays_created {
  display: none;
}

.label_input {
  font-size: 17px;
}

.nbr_value_input_formulary,
.first_input_formulary,
.second_input_formulary,
.third_input_formulary,
.fourth_input_formulary,
#answer_formulary,
#answer_formulary_with_label,
#answer_formulary_medium,
#answer_formulary_with_two_label,
#answer_formulary_arrays {
  color: rgb(76, 71, 71);
  background-color: white;
  padding: 15px 20px;
}

#answer_formulary,
#answer_formulary_with_label,
#answer_formulary_medium,
#answer_formulary_with_two_label {
  width: 872px;
}

#answer_formulary,
#answer_formulary_with_label,
#answer_formulary_medium,
#answer_formulary_with_two_label,
#answer_formulary_arrays {
  min-width: 338px;
}

#answer_formulary {
  min-height: 16px;
}

#answer_formulary_with_label {
  min-height: 84px;
}

#answer_formulary_medium,
#answer_formulary_arrays {
  min-height: 105px;
}

#answer_formulary_with_two_label {
  min-height: 204px;
}

#answer_formulary,
#answer_formulary_with_label,
#answer_formulary_medium,
#answer_formulary_with_two_label {
  margin: 0px 0px auto 25px;
}

#answer_formulary_arrays {
  margin-bottom: auto;
}


/* LES BOUTONS */

/* Forme commune à tous les boutons */

.buttons {
  width: 126px;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #66b034;
  box-shadow: 1px 1px 1px #66b034;
}

/* Bouton uniquement pour la saison 2 où on ne fait que du JavaScript */

.btn_test_javascript {
  width: 377.767px;
  margin: 5px 100px 0px;
}

/* Ces DIV existent et contiennent des boutons à partir de la saison 3 où on fait du JavaScript et du JQuery, puis du PHP */

.choice_codes,
.test_codes,
.test_codes_create_input {
  display: flex;
  justify-content: start;
}

.choice_codes {
  margin: 0px 100px 7px;
}

.test_codes,
.test_codes_create_input {
  width: 378px;
  min-width: 378px;
  margin-bottom: 7px;
}

.test_codes_create_input {
  display: none;
}

#test_codes_create_input {
  margin-left: 25px;
}

.btn_js_style_s3,
.btn_jqr_style_s3,
.btn_test_js_s3,
.btn_test_jqr_s3 {
  width: 188.883px;
}

/* Ces boutons existent uniquement pour les exercices où l'on a besoin de choisir le nombre de valeur à indiquer */

.btn_nbr_random_create_input {
  display: none;
  width: 218px;
}

.btn_nbr_value {
  height: 47.5px;
}

.btn_nbr_value_specified {
  width: 378px;
}

.btn_reset_nbr_value,
.btn_create_arrays {
  width: 378px;
}

.btn_reset_nbr_value {
  display: none;
  margin-bottom: 7px;
  margin-left: 25px;
}

.btn_create_arrays {
  margin: -30px 0px 25px;
}


/* BASCULEMENT DE PAGE */

.change_exercise {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 30px;
  margin: 40px 150px 30px;
}

.change_exercise > p {
  margin-right: 15px;
  margin-left: 15px;
}

.change_exercise > p > a {
  font-size: 25px;
  font-weight: bolder;
}

/* ANIMATION GIF DE BAS DE PAGE */

.img_afpalab_green {
  margin-bottom: 20px;
}

/* Tablettes 'n' Mobiles */
@media only screen and (max-width: 1120px) {
  .formulary {
    flex-wrap: wrap;
  }

  #answer_formulary,
  #answer_formulary_with_label,
  #answer_formulary_medium,
  #answer_formulary_with_two_label {
    margin-left: 0px;
  }

@media only screen and (max-width: 1080px) {
  .change_exercise {
    margin: 40px 75px 30px;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 870px) {
  .change_exercise > p > a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
}