/* Fonts */

@font-face {
  font-family: "brushstroke_plainplain";
  src: url("BRUSHSTP-webfont.eot");
  src: url("BRUSHSTP-webfont.eot?#iefix") format("embedded-opentype"),
    url("BRUSHSTP-webfont.woff2") format("woff2"),
    url("../fonts/BRUSHSTP-webfont.woff") format("woff"),
    url("BRUSHSTP-webfont.ttf") format("truetype"),
    url("BRUSHSTP-webfont.svg#brushstroke_plainplain") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* General statements */

html,
body {
  margin: auto;
  font: 16px Calibri;
  width: calc(100% - 70px);
}

html {
  background: linear-gradient(
    to bottom,
    #41423f 0%,
    #d1d6c9 40%,
    #dfe0de 50%,
    #ffffff 57%,
    #ffffff 59%,
    #c0e5a2 75%,
    #66b034 100%
  );
}

header,
nav,
section,
footer {
  width: 100%;
  border: 1px solid #4c4747;
}

nav,
section,
footer {
  border-radius: 0 0 10px 10px;
}

a {
  text-decoration: none;
}

/* COLORS */

.title_homepage > h1, /* Numéros des saisons dans la page d'accueil */
.title_homepage > h3, /* Intitulés des saisons dans la page d'accueil */
.buttons, /* Boutons des pages d'exercises */
.container_header > p,
.accueil_nav > a, 
.saisons_algorithme > a, 
.other_projects > a,
.menu_other_projects > li,
.menu_algo > li,
.sous_menu_algo > li,
.menu_other_projects > li > a,
.saison_algo > a,
.sous_menu_algo > li > a {
  color: white;
}

.change_exercise > p > a, /* En bas des pages d'exercices */
.accueil_nav > a {
  color: #66b034;
}

.change_exercise > p > a:hover, /* En bas des pages d'exercices */
.accueil_nav > a:hover {
  color: #59883c;
}

/* BACKGROUNDS */

header,
nav,
.accueil_nav > a, 
.saisons_algorithme > a,
.other_projects > a,
.menu_other_projects > li,
.menu_algo > li,
.sous_menu_algo > li,
section,
.btn_jqr_style_s3, /* Boutons des pages d'exercises */
.btn_jqr_style,
.btn_php_style,
.btn_nbr_value,
.btn_nbr_value_specified,
.btn_nbr_random_create_input,
.btn_reset_nbr_value,
.btn_create_arrays,
.btn_test_js, 
.btn_test_jqr,
.btn_test_php,
.btn_test_js_s3,
.btn_test_jqr_s3,
.btn_test_javascript {
  background: linear-gradient(to top, #4a4c47 0%, #80837a 40%, #94978e 100%);
}

.accueil_nav > a:hover,
.saisons_algorithme:hover,
.menu_other_projects > li:hover,
.menu_algo > li:hover,
.sous_menu_algo > li,
.btn_js_style_s3, /* Boutons des pages d'exercises */
.btn_js_style,
.btn_js_style_s3:hover,
.btn_jqr_style_s3:hover,
.btn_js_style:hover,
.btn_jqr_style:hover,
.btn_php_style:hover,
.btn_nbr_value:hover,
.btn_nbr_value_specified:hover,
.btn_nbr_random_create_input:hover,
.btn_reset_nbr_value:hover,
.btn_create_arrays:hover,
.btn_test_js:hover,
.btn_test_jqr:hover,
.btn_test_php:hover,
.btn_test_js_s3:hover,
.btn_test_jqr_s3:hover,
.btn_test_javascript:hover {
  background: linear-gradient(to top, #878a82 0%, #a3a59f 40%, #b8b9b5 100%);
}

/* MISE EN FORME DE LA PAGE */

header {
  height: 150px;
  box-shadow: 1px 1px 5px 1px #353534;
  margin-top: 30px;
  margin-bottom: 10px;
}

.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.boule {
  align-self: flex-end;
}

.container_header > p {
  font-size: 40px;
  font-family: "brushstroke_plainplain", Arial, sans-serif;
  text-shadow: 1px 1px 2px #66b034;
  text-align: center;
  margin: 0px 20px;
}

.emblem_afpa {
  align-self: flex-start;
  margin-right: 2px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  box-shadow: 0px 5px 4px rgb(76, 71, 71);
  margin-bottom: 10px;
}

/* Class qui fixera la naviguation en haut de la page après le scroll */
.fixed_naviguation {
  z-index: 1000;
  position: fixed;
  top: 0px;
  width: calc(100% - 140px);
}

/* Contenu de la Nav */
.left_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  margin-left: 20px;
}

.right_nav {
  display: flex;
  justify-content: space-between;
  width: 370px;
  margin-right: 20px;
}

.accueil_nav > a,
.saisons_algorithme > a,
.other_projects > a,
.menu_other_projects > li,
.menu_algo > li,
.sous_menu_algo > li {
  display: block;
  width: 170px;
  line-height: 50px;
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0px 7px;
}

.accueil_nav > a,
.saisons_algorithme > a,
.other_projects > a,
.menu_other_projects > li,
.menu_algo > li,
.sous_menu_algo > li,
.other_projects:hover .menu_other_projects,
.saisons_algorithme:hover .menu_algo,
.menu_algo > li:hover .sous_menu_algo {
  width: 170px;
}

.accueil_nav > a {
  width: 100px;
}

/* Les Menus déroulant de la Nav, et le Sous-Menu déroulant des Saisons d'Algo */
.saisons_algorithme,
.other_projects {
  position: relative;
}

.menu_other_projects,
.menu_algo,
.sous_menu_algo {
  display: none;
}

.other_projects:hover .menu_other_projects,
.saisons_algorithme:hover .menu_algo,
.menu_algo > li:hover .sous_menu_algo {
  display: block;
  list-style-type: none;
  padding: 0px;
}

.menu_other_projects,
.menu_algo {
  position: absolute;
  top: 34px;
  left: 1px;
  z-index: 100;
}

.sous_menu_algo {
  position: absolute;
  top: 0px;
  left: -186px;
  z-index: 101;
}

.menu_other_projects > li,
.menu_algo > li,
.sous_menu_algo > li {
  position: relative;
}

.menu_other_projects > li > a,
.saison_algo > a,
.sous_menu_algo > li > a {
  display: block;
  line-height: 38px;
}

/* Décalage des Sous-menu */
.sous_menu_algo_saison_2 {
  top: -38px;
}

.sous_menu_algo_saison_3 {
  top: -76px;
}

.sous_menu_algo_saison_4 {
  top: -114px;
}

.sous_menu_algo_saison_5 {
  top: -152px;
}

.sous_menu_algo_saison_6 {
  top: -190px;
}

.sous_menu_algo_saison_7 {
  top: -114px;
}

.sous_menu_algo_saison_8 {
  top: -114px;
}

.sous_menu_algo_saison_9 {
  top: -190px;
}

.sous_menu_algo_saison_10 {
  top: -228px;
}

/* FIN de la Nav */

aside {
  display: none;
  height: 100px;
}

section {
  box-shadow: 3px 3px 10px 1px #4c4747;
  margin-bottom: 30px;
}

/*section,
.container_accueil {
	min-height: 1000px;
}*/

footer {
  display: none;
  height: 50px;
}

/* Tablettes 'n' Mobiles */
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 960px) {
  html,
  body {
    width: calc(100% - 40px);
  }

  .fixed_naviguation {
    width: calc(100% - 80px);
  }
}

@media only screen and (max-width: 820px) {
  .container_header > p {
    font-size: 30px;
  }
}

@media only screen and (max-width: 800px) {
  html,
  body {
    width: calc(100% - 25px);
  }

  .fixed_naviguation {
    width: calc(100% - 50px);
  }
}

@media only screen and (max-width: 690px) {
  html,
  body {
    width: calc(100% - 10px);
  }

  .container_header > p {
    font-size: 25px;
  }

  .fixed_naviguation {
    width: calc(100% - 20px);
  }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 380px) {
  .container_header > p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
}

/* IE10+ CSS */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

/* IE Edge 12+ CSS */
@supports (-ms-accelerator: true) {
}
