/* General statements */

html {
    width: 100%;
    background-image: url("../image_fichiers/fond_avec_Laurent3.png"), -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, #E3E9E9 65%, #ABB8BE 75%, #6B848B 100%);    
    background-position: bottom;
    background-repeat: no-repeat;
    }

    
body {
    margin: auto;
    width: calc(100% - 175px);
}

#shadow {
    box-shadow: 0px 0px 10px 3px rgb(190, 188, 188);
}

a {
    text-decoration:none;
}

header {
    margin-top: 30px;
    height: auto;
    width: 100%;
    background-color: white;
    padding-bottom: 20px;
}

    .div_header_all {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .div_logo > img {
            max-width: 250px;
            margin-top: 40px;
        }

        .div_slider, .slide > img {
            width: auto;
            max-width: 790px;
            height: 230px;
            margin-top: 15px;
        }

        .div_slider {
            overflow: hidden;
        }
        
            .slides {
                width: calc(790px * 8);
                animation: translation 20s infinite;
            }

                .slide {
                    float: left;
                }
        
            @keyframes translation {
                0% {
                transform: translateX(0px);
                }
                10% {
                transform: translateX(0px);
                }
                13% {
                transform: translateX(-790px);
                }
                22% {
                transform: translateX(-790px);
                }
                25% {
                transform: translateX(-1580px);
                }
                35% {
                transform: translateX(-1580px);
                }
                38% {
                transform: translateX(-2370px);
                }
                47% {
                transform: translateX(-2370px);
                }
                50% {
                transform: translateX(-3160px);
                }
                60% {
                transform: translateX(-3160px);
                }
                63% {
                transform: translateX(-3950px);
                }
                72% {
                transform: translateX(-3950px);
                }
                75% {
                transform: translateX(-4740px);
                }
                85% {
                transform: translateX(-4740px);
                }
                88% {
                transform: translateX(-5530px);
                }
                97% {
                transform: translateX(-5530px);
                }
                100% {
                transform: translateX(0px);
                }
            }

        .div_drapeau {
            align-self: flex-start;
        }

            .span_langage {
                font-size: 13px;
                color: rgba(113,144,152,1);
                position: relative;
                bottom: 14px;
                margin-right: -2px;
            }

            .flag_sep {
                margin-left: 5px;
                margin-right: 30px;
            }

            .img_flag { 
                margin-left: -35px;
                margin-right: -8px;
            }

            .img_flag:hover {
                border-bottom: 2px solid #6B848B;
            }


nav {
    width: 100%;
    }

/* Naviguation pour téléphones */

    .div_nav_mobile_all {
        display: none;
        justify-content: space-between;
        border-top: 0.5px solid #6B848B;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, #E3E9E9 30%, #ABB8BE 75%, #6B848B 100%);
    }

        .img_feux_mobile {
            height: 25px;
            margin: 7px 0px 6px 25px;
        }

        .burger_menu {
            height: 30px;
            margin: 5px 30px 5px 0px;
        }

/* Naviguation pour ordinateurs et tablettes */

    .div_nav_all {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-height: 45px;
        border-top: 0.5px solid #6B848B;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, #E3E9E9 30%, #ABB8BE 75%, #6B848B 100%);
    }

        .img_feux {
            margin-right: 108px;
            margin-top: 6px;
            margin-bottom: 6px;
        }
    
        .separator_nav {
            align-self: center;
            min-height: 45px;
            width: 1.5px;
            background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(211,221,224,1) 18%, rgba(149,172,178,1) 41%, rgba(149,172,178,1) 51%, rgba(113,144,152,1) 100%);
        }

        .div_nav_item {
            font: bolder 13.5px Calibri;
            
            text-align: center;
            color: rgba(113,144,152,1);
            margin-left: 30px;
            margin-right: 30px;   
        }

        .div_nav_item:hover {
            min-height: 39px;
            color: white;
            background-color: rgba(113,144,152,1);
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
            padding-top: 9px;
            padding-right: 30px;
            padding-left: 30px;
            margin-top: -9px;
            margin-left: 0px;
            margin-right: 0px;
        
        }
        

section {
    display: flex;
    width: 100%;
}


    aside {
        flex: 1;
        z-index: 2;
        box-shadow: 5px 0px 4px rgb(151, 150, 150);
        background-color: white;
        background-image: url("../image_fichiers/fond_smenu.png"), 
                          url("../image_fichiers/small_logo.jpg");
        background-position: 0% 0%, 50% 96%;
        background-repeat: no-repeat;
        }

        .separator_aside {
            height: 1px;
            max-width: 183.5px;
            background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(211,221,224,1) 18%, rgba(149,172,178,1) 41%, rgba(149,172,178,1) 51%, rgba(113,144,152,1) 100%);
            margin-left: 35px;
        }

        .separator_aside:hover {
            height: 3px;
        }

        .first_separator_aside {
            margin-top: 60px;
        }

        .div_aside_item {
            min-height: 21px;
            font: 13px Calibri;
            color: rgba(113,144,152,1);
            text-align: right;
            padding: 11px 10px 7px 10px;
        }

        .div_aside_item:hover {
            font-weight: bold;
            background-color: #E3E9E9;
        }


    article {
        flex: 5.1;
        z-index: 1;
        min-height: 100px;
        background-color: white;
    }

        .title_article {
            margin: 33px 20px 50px 22px;
            color: rgba(113,144,151);
            border-bottom: 2px solid #ABA9A9;
        }

            .title_article>p {
            margin-bottom: -0.3px;
            }

        .img_Imagequisommes2 {
            float: right;
            margin-left: 40px;
            margin-right: 160px;
            margin-bottom: 60px;
        }

        .text_article {
            font: 17px Calibri;
            color: rgba(113,144,152,1);
            margin-left: 60px;
            margin-right: 100px;
            margin-bottom: 60px;
        }


footer {
    display: flex;
    margin: auto;
    margin-top: 60px;
    max-width: 500px;
    min-height: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(236, 236, 236);
    border: 1.55px solid;
    border-color: rgb(0, 96, 175) rgb(0, 96, 175) transparent rgb(0, 96, 175);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

    .div_footer_item {
        font: 10px Calibri;
        color: rgba(113,144,152,1);
        margin-left: 15px;
        margin-right: 15px;
        text-decoration: underline;
        }





/* Tablettes 'n' Mobiles */

@media only screen and (max-width: 1490px) {
    
/* nav */
    .img_feux {
        margin-right: 60px;
    }
}

@media only screen and (max-width: 1475px) {
    
/* nav */
    .img_feux {
        margin-right: 45px;
    }
}

@media only screen and (max-width: 1460px) {
    
/* nav */
    .img_feux {
        margin-right: 40px;
    }
}

@media only screen and (max-width: 1445px) {
    
/* nav */
    .div_nav_all {
        justify-content: center;
    }

    .img_feux {
        display: none;
    }

    .first_separator_nav {
        display: none;
    }
}

@media only screen and (max-width: 1410px) {

/* header */
    .div_drapeau {
        align-items: center;
        flex-flow: column nowrap;
        display: flex;
        margin-right: 15px;
        margin-top: 40px;
    }

        .span_langage {
            position: static;   
            margin-right: 0px;
        }

        .flag_sep {
            margin-left: 0px;
            margin-right: 0px;
            transform: rotate(90deg);
        }

        .img_flag {
            margin-left: 0px;
            margin-right: 0px;
        }
}

@media only screen and (max-width: 1280px) {

/* nav */
    .div_nav_item {
        margin-left: 20px;
        margin-right: 20px;   
    }

    .div_nav_item:hover {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media only screen and (max-width: 1264px) {

/* header */
    .div_header_all {
        justify-content: space-around;
        flex-wrap: wrap;
    }

        .div_logo > img {
            max-width: 175px;
            margin-top: 20px;
        }

        .div_slider, .slide > img {
            order: 1;
            height: auto;
            margin-top: 0px;
        }

        .div_drapeau {
            flex-flow: row nowrap;
            margin-right: 25px;
            margin-top: 70px;
        }

            .span_langage {
                margin-right: 10px;
            }
            
            .flag_sep {
                transform: rotate(0deg);
            }

/* article */
    .img_Imagequisommes2 {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 1150px) {

/* nav */
    .div_nav_item {
        font: bolder 12.5px Calibri;
        margin-left: 16px;
        margin-right: 16px;   
    }

    .div_nav_item:hover {
        padding-right: 16px;
        padding-left: 16px;
    }
}

@media only screen and (max-width: 1050px) {

/* nav */
    .div_nav_item {
        margin-left: 13px;
        margin-right: 13px;   
    }

    .div_nav_item:hover {
        padding-right: 13px;
        padding-left: 13px;
    }
}

@media only screen and (max-width: 1024px) {

    body {
       width: calc(100% - 115px);
    }
}

@media only screen and (max-width: 960px) {

/* nav */
    .div_nav_item {
        font: bolder 12px Calibri;
        margin-left: 10px;
        margin-right: 10px;   
    }

    .div_nav_item:hover {
        padding-right: 10px;
        padding-left: 10px;
    }

/* article */
    .img_Imagequisommes2 {
        margin-right: 100px;
    }

    .text_article {
        margin-right: 70px;
    }
}

@media only screen and (max-width: 900px) {

    body {
        width: calc(100% - 55px);
    }

/* header */
    .div_slider, .slide > img {
        width: auto;
        max-width: 745px;
    }

        .slides {
            width: calc(745px * 8);
        }

        @keyframes translation {
            0% {
            transform: translateX(0px);
            }
            10% {
            transform: translateX(0px);
            }
            13% {
            transform: translateX(-745px);
            }
            22% {
            transform: translateX(-745px);
            }
            25% {
            transform: translateX(-1490px);
            }
            35% {
            transform: translateX(-1490px);
            }
            38% {
            transform: translateX(-2235px);
            }
            47% {
            transform: translateX(-2235px);
            }
            50% {
            transform: translateX(-2980px);
            }
            60% {
            transform: translateX(-2980px);
            }
            63% {
            transform: translateX(-3725px);
            }
            72% {
            transform: translateX(-3725px);
            }
            75% {
            transform: translateX(-4470px);
            }
            85% {
            transform: translateX(-4470px);
            }
            88% {
            transform: translateX(-5215px);
            }
            97% {
            transform: translateX(-5215px);
            }
            100% {
            transform: translateX(0px);
            }
        }

/* article */
    .img_Imagequisommes2 {
        margin-bottom: 30px;
    }

    .text_article {
        font: 16px Calibri;
    }
}

@media only screen and (max-width: 850px) {

/* nav */
    .div_nav_item {
        font: bolder 11px Calibri;
        margin-left: 7px;
        margin-right: 7px;   
    }

    .div_nav_item:hover {
        padding-right: 7px;
        padding-left: 7px;
    }
}

@media only screen and (max-width: 800px) {

/* header */
    .div_slider, .slide > img {
        width: auto;
        max-width: 540px;
    }

        .slides {
            width: calc(540px * 8);
        }

        @keyframes translation {
            0% {
            transform: translateX(0px);
            }
            10% {
            transform: translateX(0px);
            }
            13% {
            transform: translateX(-540px);
            }
            22% {
            transform: translateX(-540px);
            }
            25% {
            transform: translateX(-1080px);
            }
            35% {
            transform: translateX(-1080px);
            }
            38% {
            transform: translateX(-1620px);
            }
            47% {
            transform: translateX(-1620px);
            }
            50% {
            transform: translateX(-2160px);
            }
            60% {
            transform: translateX(-2160px);
            }
            63% {
            transform: translateX(-2700px);
            }
            72% {
            transform: translateX(-2700px);
            }
            75% {
            transform: translateX(-3240px);
            }
            85% {
            transform: translateX(-3240px);
            }
            88% {
            transform: translateX(-3780px);
            }
            97% {
            transform: translateX(-3780px);
            }
            100% {
            transform: translateX(0px);
            }
        }

/* section */
    aside {
        flex: none;
        width: 120px;
    }

        .div_aside_item {
            width: 100px;
            padding-left: 12px;
        }

    article {
        flex: none;
        width: calc(100% - 120px);
    }
    
        .title_article {
            margin-bottom: 40px;
        }

        .img_Imagequisommes2 {
            width: 200px;
            margin-right: 70px;
            margin-left: 20px;
            margin-bottom: 10px;
        }
    
        .text_article {
            margin-left: 40px;
            margin-right: 40px;
        }

    footer {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 730px) {

/* nav */
    .div_nav_item {
        margin: 5px 5px 10px 5px;   
    }

    .div_nav_item:hover {
        padding: 9px 5px 10px 5px;
        margin: -9px 0px 0px 0px;
    }
}
    
@media only screen and (max-width: 650px) {

/* nav */
    .div_nav_all {
        display: none;
    }
    .div_nav_mobile_all {
        display: flex;
    }

    footer {
        margin-top: 40px;
    }    

@media only screen and (max-width: 600px) {

    body {
        width: calc(100% - 20px);
    }

    header {
        margin-top: 15px;
    }

        .div_logo > img {
            margin-bottom: -10px;
        }

        .div_slider {
            display: none;
        }
    
/* article */
    .title_article {
        margin-bottom: 30px;
    }

    .img_Imagequisommes2 {
        display: none;
    }

    footer {
        margin-top: 35px;
    }
}

@media only screen and (max-width: 415px) {

/* header */
    .div_logo > img {
        margin-top: 15px;
        margin-right: 8px;
        margin-bottom: 0px;
    }

    .div_drapeau {
        margin-top: 15px;   
        margin-left: 30px;
    }

/* nav */
    .div_nav_mobile_all > img {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 380px) {


/* nav mobile */
    .img_feux_mobile {
        margin-left: 20px;
    }

    aside {
        background-position: 0% 0%, 50% 99%;
        }
}

@media only screen and (max-width: 320px) {}


/* IE10+ CSS */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {}


/* IE Edge 12+ CSS */

@supports (-ms-accelerator:true) {}