<div class="container_header">
    <img class="boule" src="../img/boule_language_cropped_cutting_174x124.png" alt="Globe Language">
    <p>Concepteur Développeur d'Applications</p>
    <img class="emblem_afpa" src="../img/emblem_afpa_vert_fond_transparent_142x80.png" alt="Emblème AFPA">
</div>