<div class="left_nav">
  <img
    class="afpa_logo"
    src="../img/afpa_logo_blanc_fond_transparent_80x80.png"
    alt="Logo AFPA"
  />
  <div class="accueil_nav">
    <a href="../accueil/accueil.php">ACCUEIL</a>
  </div>
</div>

<div class="right_nav">
  <div class="saisons_algorithme">
    <a href="#">Saisons d'Algorithme</a>
    <ul class="menu_algo">
      <li class="saison_algo">
        <a href="../saison_1/exo_1.php">SAISON 1</a>
        <ul class="sous_menu_algo">
          <li><a href="../saison_1/exo_1.php">Exercice 1</a></li>
          <li><a href="../saison_1/exo_2.php">Exercice 2</a></li>
          <li><a href="../saison_1/exo_3.php">Exercice 3</a></li>
          <li><a href="../saison_1/exo_4.php">Exercice 4</a></li>
          <li><a href="../saison_1/exo_5.php">Exercice 5</a></li>
          <li><a href="../saison_1/exo_6.php">Exercice 6</a></li>
          <li><a href="../saison_1/exo_7.php">Exercice 7</a></li>
          <li><a href="../saison_1/exo_8.php">Exercice 8</a></li>
          <li><a href="../saison_1/exo_9.php">Exercice 9</a></li>
        </ul>
      </li>
      <li class="saison_algo">
        <a href="../saison_2/exo_1.php">SAISON 2</a>
        <ul class="sous_menu_algo sous_menu_algo_saison_2">
          <li><a href="../saison_2/exo_1.php">Exercice 1</a></li>
          <li><a href="../saison_2/exo_2.php">Exercice 2</a></li>
          <li><a href="../saison_2/exo_3.php">Exercice 3</a></li>
          <li><a href="../saison_2/exo_4.php">Exercice 4</a></li>
        </ul>
      </li>
      <li class="saison_algo">
        <a href="../saison_3/exo_1.php">SAISON 3</a>
        <ul class="sous_menu_algo sous_menu_algo_saison_3">
          <li><a href="../saison_3/exo_1.php">Exercice 1</a></li>
          <li><a href="../saison_3/exo_2.php">Exercice 2</a></li>
          <li><a href="../saison_3/exo_3.php">Exercice 3</a></li>
          <li><a href="../saison_3/exo_4.php">Exercice 4</a></li>
          <li><a href="../saison_3/exo_5.php">Exercice 5</a></li>
          <li><a href="../saison_3/exo_6.php">Exercice 6</a></li>
        </ul>
      </li>
      <li class="saison_algo">
        <a href="../saison_4/exo_1.php">SAISON 4</a>
        <ul class="sous_menu_algo sous_menu_algo_saison_4">
          <li><a href="../saison_4/exo_1.php">Exercice 1</a></li>
          <li><a href="../saison_4/exo_2.php">Exercice 2</a></li>
          <li><a href="../saison_4/exo_3.php">Exercice 3</a></li>
          <li><a href="../saison_4/exo_4.php">Exercice 4</a></li>
          <li><a href="../saison_4/exo_5.php">Exercice 5</a></li>
          <li><a href="../saison_4/exo_6.php">Exercice 6</a></li>
          <li><a href="../saison_4/exo_7.php">Exercice 7</a></li>
          <li><a href="../saison_4/exo_8.php">Exercice 8</a></li>
        </ul>
      </li>
      <li class="saison_algo">
        <a href="../saison_5/exo_1.php">SAISON 5</a>
        <ul class="sous_menu_algo sous_menu_algo_saison_5">
          <li><a href="../saison_5/exo_1.php">Exercice 1</a></li>
          <li><a href="../saison_5/exo_2_A.php">Exercice 2.A</a></li>
          <li><a href="../saison_5/exo_2_B.php">Exercice 2.B</a></li>
          <li><a href="../saison_5/exo_3.php">Exercice 3</a></li>
          <li><a href="../saison_5/exo_4.php">Exercice 4</a></li>
          <li><a href="../saison_5/exo_5.php">Exercice 5</a></li>
          <li><a href="../saison_5/exo_6.php">Exercice 6</a></li>
          <li><a href="../saison_5/exo_7.php">Exercice 7</a></li>
          <li><a href="../saison_5/exo_8.php">Exercice 8</a></li>
          <li><a href="../saison_5/exo_9.php">Exercice 9</a></li>
          <li><a href="../saison_5/exo_10.php">Exercice 10</a></li>
          <li><a href="../saison_5/exo_11.php">Exercice 11</a></li>
        </ul>
      </li>
      <li class="saison_algo">
        <a href="../saison_6/exo_1.php">SAISON 6</a>
        <ul class="sous_menu_algo sous_menu_algo_saison_6">
          <li><a href="../saison_6/exo_1.php">Exercice 1</a></li>
          <li><a href="../saison_6/exo_2.php">Exercice 2</a></li>
          <li><a href="../saison_6/exo_3.php">Exercice 3</a></li>
          <li><a href="../saison_6/exo_4.php">Exercice 4</a></li>
          <li><a href="../saison_6/exo_5.php">Exercice 5</a></li>
          <li><a href="../saison_6/exo_6.php">Exercice 6</a></li>
          <li><a href="../saison_6/exo_7.php">Exercice 7</a></li>
          <li><a href="../saison_6/exo_8.php">Exercice 8</a></li>
          <li><a href="../saison_6/exo_9.php">Exercice 9 (Pas Fait)</a></li>
          <li><a href="../saison_6/exo_10.php">Exercice 10 (Pas Fait)</a></li>
          <li><a href="../saison_6/exo_11.php">Exercice 11</a></li>
          <li><a href="../saison_6/exo_12.php">Exercice 12 (Pas Fait)</a></li>
          <li><a href="../saison_6/exo_13.php">Exercice 13</a></li>
          <li><a href="../saison_6/exo_14.php">Exercice 14 (Pas Fait)</a></li>
          <li><a href="../saison_6/exo_15.php">Exercice 15 (Pas Fait)</a></li>
          <li><a href="../saison_6/exo_16.php">Exercice 16 (Pas Fait)</a></li>
          <li><a href="../saison_6/exo_17.php">Exercice 17</a></li>
        </ul>
      </li>
      <li class="saison_algo">
        <a href="../saison_7/exo_1.php">SAISON 7</a>
        <ul class="sous_menu_algo sous_menu_algo_saison_7">
          <li><a href="../saison_7/exo_1.php">Exercice 1</a></li>
          <li><a href="../saison_7/exo_2.php">Exercice 2 (Pas Fait)</a></li>
          <li><a href="../saison_7/exo_3.php">Exercice 3 (Pas Fait)</a></li>
          <li><a href="../saison_7/exo_4.php">Exercice 4</a></li>
          <li><a href="../saison_7/exo_5.php">Exercice 5</a></li>
          <li><a href="../saison_7/exo_6.php">Exercice 6 (Pas Fait)</a></li>
          <li><a href="../saison_7/exo_7.php">Exercice 7</a></li>
        </ul>
      </li>
      <li class="saison_algo">
        <a href="../saison_8/exo_1.php">SAISON 8</a>
        <ul class="sous_menu_algo sous_menu_algo_saison_8">
          <li><a href="../saison_8/exo_1.php">Exercice 1</a></li>
          <li><a href="../saison_8/exo_2.php">Exercice 2</a></li>
          <li><a href="../saison_8/exo_3.php">Exercice 3</a></li>
          <li><a href="../saison_8/exo_4.php">Exercice 4</a></li>
          <li><a href="../saison_8/exo_5_A.php">Exercice 5.A</a></li>
          <li><a href="../saison_8/exo_5_B.php">Exercice 5.B</a></li>
          <li><a href="../saison_8/exo_6.php">Exercice 6</a></li>
          <li><a href="../saison_8/exo_7.php">Exercice 7 (Pas Fait)</a></li>
        </ul>
      </li>
      <li class="saison_algo">
        <a href="../saison_9/exo_1.php">SAISON 9</a>
        <ul class="sous_menu_algo sous_menu_algo_saison_9">
          <li><a href="../saison_9/exo_1.php">Exercice 1 (Pas Fait)</a></li>
          <li><a href="../saison_9/exo_2.php">Exercice 2 (Pas Fait)</a></li>
          <li><a href="../saison_9/exo_3.php">Exercice 3 (Pas Fait)</a></li>
          <li><a href="../saison_9/exo_4.php">Exercice 4 (Pas Fait)</a></li>
          <li><a href="../saison_9/exo_5.php">Exercice 5 (Pas Fait)</a></li>
          <li><a href="../saison_9/exo_6.php">Exercice 6 (Pas Fait)</a></li>
          <li><a href="../saison_9/exo_7.php">Exercice 7 (Pas Fait)</a></li>
          <li><a href="../saison_9/exo_8.php">Exercice 8 (Pas Fait)</a></li>
          <li><a href="../saison_9/exo_9.php">Exercice 9 (Pas Fait)</a></li>
        </ul>
      </li>
      <li class="saison_algo">
        <a href="../saison_10/exo_1.php">SAISON 10</a>
        <ul class="sous_menu_algo sous_menu_algo_saison_10">
          <li><a href="../saison_10/exo_1.php">Exercice 1 (Pas Fait)</a></li>
          <li><a href="../saison_10/exo_2.php">Exercice 2 (Pas Fait)</a></li>
          <li><a href="../saison_10/exo_3.php">Exercice 3 (Pas Fait)</a></li>
          <li><a href="../saison_10/exo_4.php">Exercice 4 (Pas Fait)</a></li>
          <li><a href="../saison_10/exo_5.php">Exercice 5 (Pas Fait)</a></li>
          <li><a href="../saison_10/exo_6.php">Exercice 6 (Pas Fait)</a></li>
          <li><a href="../saison_10/exo_7.php">Exercice 7 (Pas Fait)</a></li>
          <li><a href="../saison_10/exo_8.php">Exercice 8 (Pas Fait)</a></li>
          <li><a href="../saison_10/exo_9.php">Exercice 9 (Pas Fait)</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="other_projects">
    <a href="#">Autres Projets</a>
    <ul class="menu_other_projects">
      <li class="audit_conseil">
        <a
          href="../other_projects/audit_conseil/audit_conseil.html"
          target="_blank"
          >Maquette Audit&Conseil</a
        >
      </li>
    </ul>
  </div>
</div>
